services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      MONGODB_URI: ${MONGODB_URI}
    volumes:
      - user_profile:/app/user_profile

volumes:
  user_profile:
